@import url('https://fonts.googleapis.com/css2? family=Rubik:ital,wght@0,300;0,400;0,900;1,400;1,700&family=Ubuntu:ital,wght@0,300;1,300;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: borde-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;
    background-color: s;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 25px;
    background: transparent;
  
}
.logo{
    color:black ;
    padding: 0 7%;
    font-size: 40px;
    font-family: 'Ubuntu';
    
}
.logo_deneza{
    color: #2667ff;
    /*color: #ff0054;*/
}
.nav_var{
    display: flex;
}
.nav_var li{
    position: relative;
    margin: 10px 10px;
    
}
.nav_var a{
    color: black;
    font-weight: 500;
    font-size: 1rem;
    padding: 0 10px;
    
}
.nav_var a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #2667ff;
    left: 0;
    bottom: -4px;
    transition: ease .42s;
}
.nav_var a:hover::after{
    width: 100%;
}
.tbn{
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    height: 60px;
    line-height: 60px;
    background:#2667ff;
    color: white;
    border-radius: 9px;
    padding:  0 21px;
    text-transform: uppercase;
    transition: all .40s;
}
.tbn:hover{
    opacity: 0.8;
    transform: translateY(-10px);
}

/*logg*/

